










.navbar-light .navbar-nav .nav-link {
  color: rgb(81, 80, 80);
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  position: absolute;
  top: 17px;
  left: 50px;
}



.hover {
overflow: hidden;
position: relative;
padding-bottom: 45%;
}

.hover-overlay {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 90;
transition: all 0.4s;
}

.hover img {
width: 100%;
position: absolute;
top: 0;
left: 0;
transition: all 0.3s;
}

.hover-content {
position: relative;
z-index: 99;
}


/* DEMO 1 ============================== */
.hover-1 img {
width: 105%;
position: absolute;
top: 0;
left: -5%;
transition: all 0.3s;
}

.hover-1-content {
position: absolute;
bottom: 0;
left: 0;
z-index: 99;
transition: all 0.4s;
}

.hover-1 .hover-overlay {
background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
transform: translateY(0.5rem);
transition: all 0.4s;
opacity: 0;
}

.hover-1:hover .hover-1-content {
bottom: 2rem;
}

.hover-1:hover .hover-1-description {
opacity: 1;
transform: none;
}

.hover-1:hover img {
left: 0;
}

.hover-1:hover .hover-overlay {
opacity: 0;
}




.second-txt {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
.card .img-wrapper {
  height: 17em;
}
}



.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

textarea.form-control {
  height: inherit !important; }

.ftco-section {
  padding: 12em 0;
  background: #f8f8f8; }
  .ftco-section h2 {
    margin-bottom: 0; }

footer {
  padding: 5em 0; }

.footer-02 {
  background: #131719; }
  .footer-02 .footer-heading {
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20px; }
    .footer-02 .footer-heading .logo {
      color: #fff;
      text-transform: uppercase; }
  .footer-02 a {
    color: #bba387; }
  .footer-02 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-02 .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px; }
  .footer-02 .list-unstyled li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer-02 .list-unstyled li a:hover {
      color: #fff; }
  .footer-02 .list-unstyled a {
    color: rgba(255, 255, 255, 0.4); }
    .footer-02 .list-unstyled a:hover {
      color: #fff; }
  .footer-02 .subscribe {
    margin-top: -105px; }
  .footer-02 .subscribe-form {
    border-radius: 40px;
    background: #fff;
    padding: 3px;
    -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1); }
    .footer-02 .subscribe-form .form-group {
      position: relative;
      margin-bottom: 0;
      border-radius: 0; }
      .footer-02 .subscribe-form .form-group input {
        background: transparent !important;
        border: none !important;
        outline: none !important;
        color: rgba(0, 0, 0, 0.3) !important;
        font-size: 16px;
        height: 56px;
        border-radius: 0; }
        .footer-02 .subscribe-form .form-group input::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: rgba(0, 0, 0, 0.3) !important; }
        .footer-02 .subscribe-form .form-group input::-moz-placeholder {
          /* Firefox 19+ */
          color: rgba(0, 0, 0, 0.3) !important; }
        .footer-02 .subscribe-form .form-group input:-ms-input-placeholder {
          /* IE 10+ */
          color: rgba(0, 0, 0, 0.3) !important; }
        .footer-02 .subscribe-form .form-group input:-moz-placeholder {
          /* Firefox 18- */
          color: rgba(0, 0, 0, 0.3) !important; }
        .footer-02 .subscribe-form .form-group input:focus {
          outline: none !important;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .footer-02 .subscribe-form .form-group .submit {
        color: #fff !important;
        display: block;
        width: 150px;
        height: 56px;
        font-size: 14px;
        background: #BC312E !important;
        border: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 40px; }
        .footer-02 .subscribe-form .form-group .submit:hover, .footer-02 .subscribe-form .form-group .submit:focus {
          text-decoration: none !important;
          outline: none !important; }
  .footer-02 .partner-wrap {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 1em 0; }
    .footer-02 .partner-wrap h3 {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.4); }
    .footer-02 .partner-wrap .partner-name a {
      margin-right: 10px;
      font-size: 13px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4); }
      .footer-02 .partner-wrap .partner-name a span {
        color: white; }
    .footer-02 .partner-wrap .btn-custom {
      font-size: 14px; }
  .footer-02 .border-left {
    border-color: rgba(255, 255, 255, 0.05) !important; }
    @media (max-width: 1199.98px) {
      .footer-02 .border-left {
        border: none; } }



        
.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #d68307, #a92f21) !important;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}







h1 .type{
  font-size: 2.5rem;
  overflow: hidden;
  border-right: .15em solid rgb(210, 49, 13);
  white-space: nowrap; 
  width: 0;
  animation: 
    typing 1.5s steps(30, end) forwards;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  from { border-color: transparent }
  to { border-color: rgb(255, 55, 0); }
}
.d {
	float: left;
	overflow: hidden;
}
.d .d-btn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #fff;
	padding: 14px 16px;
	background: inherit;
	text-transform: uppercase;
}
.navbar a:hover, .d:hover .d-btn {
	background: none;
}
.d-content {
	display: none;
	position: absolute;
	background: #211F22;
	width: 100%;
	left: 0;
	z-index: 10;
}
.d-contents {
	display: none;
	position: absolute;
	background: #ffffff;
	width: 100%;
	left: 0;
	z-index: 10;
}
.d:hover .d-content {
	display: block;
}


.d:hover .d-contents {
	display: block;
}


.demo{ background: #fff; }
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
#accordion .panel{
    border: none;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(224, 224, 224, 1);
    position: relative;
}
#accordion .panel-title a{
    display: block;
    padding: 20px 30px;
    margin: 0;
    background-color: rgba(224, 224, 224, 1);
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    position: relative;
}
#accordion .panel-title a.collapsed{ border: none; }
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 30px;
    transform: rotate(180deg);
    transition: all .4s cubic-bezier(0.080, 1.090, 0.320, 1.275);
}
#accordion .panel-title a.collapsed:before{
    color: rgba(224, 224, 224, 1);
    transform: rotate(0deg);
}
#accordion .panel-body{
    padding: 20px 30px;
    background: rgba(0,0,0,0.1);
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 5px;
}

@media (min-width: 20em) {
  img{
    width: 100%;
  }
.bg-image{
width: 100%;
 }
 .boxes{

padding-bottom: 100%;
padding-top:  100%;
overflow: hidden;
}
}

@media (min-width: 680px) {
   .boxes{
    width: 100%;
    padding-left: 10%;
    padding-bottom: 0%;
padding-top:  0%;
  }
  .bg-image{
    width: 100%;
     }
}
@media (min-width: 480px) {
  /* Probably some parent element that limits the img width */
  .boxes{
    width: 90%;
    padding-left: 0%;
  }
}

.sticky-div {
  
  position: sticky;
  top: 0px;
  padding: 10px 0px;
}

body {
  overflow-x: hidden;
}













.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	background: #211F22;
	height: 450px;
}
.column a {
	display: block;
	float: none;
	color: #eee;
	text-align: left;
}
.column h3 {
	color: rgb(214, 214, 214);
	padding: 10px;
}
.column a:hover {
	color: #fff;
	background: #373737;
}
.row:after {
	content: '';
	display: table;
	clear: both;
}
@media(max-width: 650px){
	.column {
		width: 100%;
		height: auto;
	}
}













.hover-4 img {
}

.hover-4 .hover-overlay {
 
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;

  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 0;
  text-align: center;

  padding: 0 1rem;
  z-index: 99;
  opacity: 0;
}

@media (min-width: 992px) {
  .hover-4-description {
    
  }
}

.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {

}



.accordion .card {
	border: none;
	margin-bottom: 2px;
}
.accordion .card-header {
	background: #313232;
	padding-top: 7px;
	padding-bottom: 7px;
}
.accordion .card-header h2 {
	color: #fff;
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.accordion .card-header h2 span {
	float: left;
	margin-top: 10px;
}
.accordion .card-header button {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.3rem;
	float: right;
}
.accordion .card-header button:hover {
	color: #313232;
}








a.button {
  display:inline-block;
  width:100px;
  height:50px;
  background-color:blue;
  color:#fff;
  line-height:50px;
  text-align:center;
  text-decoration: none;
}

a.active {
  background-color:red;
}

.content {
  margin-top:30px;
}



.content-{
  display: none;
}

div.active { 
  display:block;
}







.subscribe-area {
  background-color: #211F22;
  }
  
  .pb-50 {
      padding-bottom: 20px;
      padding-top: 20px;
  }
  .pt-70 {
      padding-top: 20px;
  }
  
  .mb-15 {
      margin-bottom: 15px;
      margin-top: 15px;
  }
  
  .subscribe-text span {
      font-size: 12px;
      color: #fff;
      font-family: Chalkduster;
  }
  .subscribe-text h2 {
      color: #fff;
      margin-bottom: 0;
      margin-top: 10px;
  }
  .subscribe-wrapper {
      overflow: hidden;
  }
  .mb-15 {
      margin-bottom: 15px;
  }
  .subscribe-form {
  }
  .subscribe2-wrapper .subscribe-form input {
      background: none;
      border: 1px solid #fff;
      border-radius: 30px;
      color: #fff;
      display: inline-block;
    
      height: 30px;
      margin-right: 17px;
      
      
      cursor: pointer;
  }
   
  .subscribe2-wrapper .subscribe-form button {
      background: #ffff;
      border: none;
      border-radius: 30px;
      color: #4b5d73;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      padding: 18px 46px;
      transition: all 0.3s ease 0s;
  }
  .subscribe2-wrapper .subscribe-form button i {
      font-size: 18px;
      padding-left: 5px;
  }
  




::-webkit-scrollbar {
  display: none;
}
